<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />

    <title><%= title %></title>

    <link href="/img/favicon/apple-touch-icon.png" rel="apple-touch-icon" sizes="120x120" />
    <link href="/img/favicon/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32" />
    <link href="/img/favicon/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16" />
    <link href="/img/favicon/site.webmanifest" rel="manifest" />
    <link href="/img/favicon/safari-pinned-tab.svg" color="#ffffff" rel="mask-icon" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link href="/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
    <link href="/vendor/notyf/notyf.min.css" rel="stylesheet" />
    <link href="/css/volt.css" rel="stylesheet" />
</head>
<body>